body{
    width: 100vw;
    
    background-image: url(../assets/img/bg.png);
    background-color: #890000;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
}
.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
   box-shadow: 1px 1px 3px 2px #ccc;
   padding-top: 0px;
}
.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-justify: distribute;
    border: 1px solid white;
    margin-top: 0px;
    margin-bottom: 0px;
}
.ico{
    margin-right: 5px;
}
.separa{
    margin-right: 15px;
    color: rgb(214, 0, 0);
}
@media  screen and (max-width:768px){
    .separa{
        display: none;
    }
}
.drop{
    background-color: #212529;
    border-radius: 3px;
    color: rgb(214, 0, 0);
}
.drop li a{
    color: white;
}
.drop li hr{
    color: rgb(214, 0, 0);
    height: 3px;
}
.corpo{
    width: 90vw;
    height: 100vh;
    justify-self: center;
    align-self: center;
}
.adiciona{
    color: #fff;
        padding-right: 20px;
        padding-left: 20px;
        font-weight: 700;
        text-shadow: 1px 2px black;
        border: none;
        text-justify: auto;
        background: rgb(213, 0, 0);
        background: linear-gradient(90deg, rgba(73,73,73,1) 0%, rgb(105, 105, 105) 100%);
        box-shadow: 1px 1px 3px 1px rgb(31, 0, 0);
        border-radius: 15px;
        margin-top: 20px;
}

.adiciona:hover {
    background: linear-gradient(90deg, rgba(17, 1, 139, 1) 0%, rgba(252, 0, 0, 1) 67%);
}
.salvar{
    color: #fff;
        padding-right: 20px;
        padding-left: 20px;
        font-weight: 700;
        text-shadow: 1px 2px black;
        border: none;
        text-justify: auto;
        background: linear-gradient(90deg, rgba(73,73,73,1) 0%, rgb(105, 105, 105) 100%);
        box-shadow: 1px 1px 3px 1px rgb(31, 0, 0);
        border-radius: 15px;
        margin-top: 20px;
}

.salvar:hover {
    background: linear-gradient(277deg, rgba(50,242,0,1) 0%, rgb(14, 142, 0) 100%);
}
.limpar{
    color: #fff;
        padding-right: 20px;
        padding-left: 20px;
        font-weight: 700;
        text-shadow: 1px 2px black;
        border: none;
        text-justify: auto;
        background: rgb(213, 0, 0);
        background: linear-gradient(90deg, rgba(73,73,73,1) 0%, rgb(105, 105, 105) 100%);
        box-shadow: 1px 1px 3px 1px rgb(31, 0, 0);
        border-radius: 15px;
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
}

.limpar:hover {
    background: linear-gradient(281deg, rgba(255,244,4,1) 0%, rgb(255, 200, 0) 100%);
}
.cancelar{
    color: #fff;
        padding-right: 20px;
        padding-left: 20px;
        font-weight: 700;
        text-shadow: 1px 2px black;
        border: none;
        text-justify: auto;
        background: rgb(213, 0, 0);
        background: linear-gradient(90deg, rgba(73,73,73,1) 0%, rgb(105, 105, 105) 100%);
        box-shadow: 1px 1px 3px 1px rgb(31, 0, 0);
        border-radius: 15px;
        margin-top: 20px;
}

.cancelar:hover {
    background: linear-gradient(274deg, rgba(195,0,0,1) 0%, rgb(255, 0, 4) 100%);
}
.link{
    text-decoration: none;
    color:black;
}
.link:hover{
    color:rgb(146, 3, 3)
}
.titulo_central{
    text-align: center;
    width: 100%;
}
.conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 88vw;
    height: 90%;
    margin: 0px 0 15px 0;
    background-color: rgba(235, 235, 235, 0.877);
    border-radius: 15px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.76);
    padding-top: 15px;
}
.cont_add{
    margin-top: 20px;
}
.conteudo table{
    text-align: center;

}
.conteudo .table-estoque{
    text-align:start;
}
.link_lista{
    color:black;
    text-decoration: underline black;
}
.formu {
    width: 65%;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 3px 1px rgb(92, 3, 3);
    background-color: rgb(241, 241, 241);
    margin: 10px 5px;
    padding: 2px 15px 2px 15px;
    outline: none;
    margin-right: 100px;
    
}
.formu::placeholder {
    font-weight: 600;
}

.formularios{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.formularios label{
    font-weight: 700;
    margin-right: 15px;
}
.form1{
    width: 60%;
    
}
.default_image{
    background-image: url(../assets/img/users/default.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
}
.foto{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin:0px auto;
}
.previa_foto{
    margin-top: 30px;
    width: 150px;
    height: 200px;
    border:1px solid black;
    box-shadow: -2px -2px 6px 2px rgb(126, 126, 126);
    background-size:cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
}
.botoes{
    margin-top: 25px;
}
@media screen and (max-width:768px) {
    .formu{width: 65%;
        margin-right: 0px;
       }
       .formu_foto{width:90%;
    }
       .form1{
           width: 100%;}
       .formularios{
           display: flex;
           flex-direction: column;
       }
       .campo_previa{
           width: 200%;
       }
       .botoes{
           width: 100%;
           margin-top: 15px;
       }
       .salvar,.limpar,.cancelar{
           width: 32%;
       }
}
.lista_item{
    height: auto;
}
.corpo_lista{
    height: 115%;
    background-image: url(../assets/img/bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    
}